.create-program-mother-container{
    background-image: linear-gradient(90deg, #19d3ae,#0fcfec);
    height:100%;
    width:100vw;
}
.react-date-picker{
    height:36px;
    margin-bottom: 15px;

}

.duration-container{
    margin-left: 10px;
}
.in-person{
    margin-left:5px !important;
}
.card-create-program{
    width:380px;
    height:340px;
}
.paid-program-input{
    width:60px
}
.collapsible{
  border:0.5px solid lightgray
}
.phone-1st{
    width:35px;
}
.sign-left{
    font-weight:bold;
}

