.home-page-container{

width:100vw;
overflow-x: hidden;
 height:100%;

}


 
/* CatalysedTitle design */

.catalysed-title{
  font-family: lulo-clean-w01-one-bold,sans-serif;
  color: #000000;
  letter-spacing: 0.6em;
 
  text-align: center;
  font-weight: bold;
  font-size: 90px;


}
.catalysed-background{
background-color:  #b9a9a2; 

}
@media(max-width:991px){
.catalysed-title{
  font-size: 50px;
}
}

@media(max-width:576px){
  .catalysed-title{
    font-size: 30px;
  }
  }


  /* AboutUs design */
  .about-us-background{
    background-color:  #fcf8ed;
    
 }
 .about-us-title{
     font-family: avenir-lt-w01_35-light1475496,sans-serif;
     font-size: 65px;
 }
 
 .about-us{
     color: #BC9B5D;
 }
 .about-us-title-second{
     font-family: futura-lt-w01-book,sans-serif;
     font-size: 19px;
     line-height: 1.2em;
     text-align: center;
     font-weight: bold;
     letter-spacing: 1px;
 }
 .about-us-description{
     font-family: 'Open Sans Condensed';
    
    font-weight: 500;
     text-align: center;
     font-size: 19px;
     line-height: 1.5em;
     text-align: justify;
     text-justify: inter-word;
 }

 @media(max-width:430px){
  .about-us-description{
    width:95% !important;
    margin-bottom: 20px !important;
    
  }
  }
 @media(max-width:768px){
     .girl{
         width:100%;
     }
     .boy{
         width:100vw;
     }
 }

 /* MissionVision-design */
 @media(min-width:661px) {
  .mission-vision{
    height:400px;
  }
 }
.mission-title{
  font-family: avenir-lt-w01_35-light1475496,sans-serif;
  font-size: 44px;
}
.mission-description{
  letter-spacing: 0.05em;
  
  font-family: Arial,Helvetica,sans-serif;
  background: transparent;
  font-size: 20px;
  line-height: 2.0em;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}
.mission-description-quote{
  letter-spacing:0.05em !important;
  color:#FFEF98 ;

}
.vision-title{
  font-family: avenir-lt-w01_35-light1475496,sans-serif;
  font-size: 44px;
}
.vision-description{
  letter-spacing: 0.05em;
 
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  line-height: 2em;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}
.vision-description-quote{
  display: inline;
  color:#f3a78f;

}

/* PersonalizedProfile Design */

.personalized-profile-background{
  background-color: #fff099; 
}
.personalized-profile-title{
  font-family: playfair display,serif;
  letter-spacing: 0.19em;
  font-size:42px;
  font-weight: 900px;
  color: #0D0D0D;
   vertical-align: baseline;
   background: transparent;

 

}
.personalized-profile-description{
  font-family: avenir-lt-w01_35-light1475496,sans-serif;
  font-size: 20px;
  text-align: justify;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

@media(max-width:430px){
  .personalized-profile-description{
    width:95% !important;
    margin-bottom: 20px !important;
  }
}
.personalized-profile{
  width:100%;
}

/* 
SearchRecommendation design */

.search-recommendation-background{
  background-color: #f3a78f;
}
.search-recommendation-title{
  font-family: playfair display,serif;
 letter-spacing: 0.19em;
 font-size:42px;
 font-weight: 900px;
 color: #0D0D0D;
  vertical-align: baseline;
  background: transparent;
}
@media(max-width:430px){
.search-recommendation-title{
  letter-spacing: 0.01em;
 }
}
.search-recommendation-description{
  font-family: avenir-lt-w01_35-light1475496,sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-align: justify;
  text-justify: inter-word;
}
@media(max-width:430px){
  .search-recommendation-description{
    width:95% !important;
    margin-bottom: 20px !important;
    
  }
  }

/* ProgramsInterest Design */

.programs-interest-background{
  background-color: #fff099;
}
.programs-interest-title{
  font-family: playfair display,serif;
  letter-spacing: 0.19em;
  font-size:42px;
  font-weight: 900px;
  color: #0D0D0D;
   vertical-align: baseline;
   background: transparent;
}

.programs-interest-description{
  font-family: avenir-lt-w01_35-light1475496,sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: 200;
  text-align: justify;
  text-justify: inter-word;
}
@media(max-width:430px){
  .programs-interest-description{
    width:82% !important;
    margin-bottom: 20px !important;
  
  }
}

/* PlanSchedule design */
.plan-schedule-background{
  background-color: #f3a78f;
}
.plan-schedule-title{
  font-family: playfair display,serif;
  letter-spacing: 0.19em;
  font-size:42px;
  font-weight: 900px;
  color: #0D0D0D;
   vertical-align: baseline;
   background: transparent;
}
.plan-schedule-description{
  font-family: avenir-lt-w01_35-light1475496,sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-align: justify;
  text-justify: inter-word;
}
@media(max-width:430px){
  .plan-schedule-description{
    width:95% !important;
    margin-bottom: 20px !important;
  }
}

 





