.first-name{
    margin-right: 3px;
}
.registration-container{
    width:425px;
    height:400px;
}
.form-control{
    border:none;
    border-bottom: 1px solid gray;
  }
 
    .registration-mother-container{
        background-image: linear-gradient(90deg, #19d3ae,#0fcfec);
       height:100vh;
       width:100vw;
      }
  
@media(max-width:425px){
    .registration-container{
        width:95%;
        height:auto
    }
    .form-control{
        border:none;
        border-bottom: 1px solid gray;
      }
}
@media (max-height:400px){
    .registration-mother-container{
        background-image: linear-gradient(90deg, #19d3ae,#0fcfec);
       height:100%;
       width:100vw;
      }
}
.login-click{
    cursor: pointer;
}