.first-name{
    margin-right: 6px;
}
.last-name{
   
}
.organization-registration-container{
    width:425px;
    height:410px;
  
}
.organization-registration-form-control{
    border:none;
    border-bottom: 1px solid gray;
  }
 
    .organization-registration-mother-container{
        background-image: linear-gradient(90deg, #19d3ae,#0fcfec);
       height:100vh;
       width:100vw;
     
      }
  
@media(max-width:425px){
    .organization-registration-container{
        width:95%;
        height:auto
    }
    .organization-registration-form-control{
        border:none;
        border-bottom: 1px solid gray;
      }
}
@media (max-height:410px){
    .organization-registration-mother-container{
        background-image: linear-gradient(90deg, #19d3ae,#0fcfec);
       height:100%;
       width:100vw;
      }
      
}
.login-click{
    cursor: pointer;
}