.mission-title{
    font-family: avenir-lt-w01_35-light1475496,sans-serif;
    font-size: 44px;
}
.mission-description{
    letter-spacing: 0.05em;
    
    font-family: Arial,Helvetica,sans-serif;
    background: transparent;
    font-size: 20px;
    line-height: 2.0em;
    font-weight: bold;
}
.mission-description-quote{
    letter-spacing:0.05em !important;
    color:#FFEF98 ;

}
.vision-title{
    font-family: avenir-lt-w01_35-light1475496,sans-serif;
    font-size: 44px;
}
.vision-description{
    letter-spacing: 0.05em;
   
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    line-height: 2.5em;
    font-weight: bold;
}
.vision-description-quote{
    letter-spacing:0.05em !important;
    color:#f3a78f;

}