

    .catalysed-title{
      font-family: lulo-clean-w01-one-bold,sans-serif;
      color: #000000;
      letter-spacing: 0.6em;
     
      text-align: center;
      font-weight: bold;
      font-size: 90px;
  
  
  }
  .catalysed-background{
    background-color:  #b9a9a2; 
   
    }
    @media(max-width:991px){
    .catalysed-title{
      font-size: 50px;
    }
    }

    @media(max-width:576px){
      .catalysed-title{
        font-size: 30px;
      }
      }

    

  
